node_modules
dist
dist-ssr
*.local

.vite
*.tsbuildinfo
.DS_Store
.claude/settings.local.json

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
